In [1]:
print(" \"때론 내 삶의 변화를 위해 \'내어 맡김\'이 필요하다.\" ")

 "때론 내 삶의 변화를 위해 '내어 맡김'이 필요하다."

In [2]:
print('11\t홍길동\n123\t일지매')

11	홍길동
123	일지매

In [5]:
print('동해물과 백두산이 마르고 닳도록 \
하느님이 보우하사 우리나라 만세')

동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세

In [6]:
print('''\
11\t홍길동
123\t일지매\
''')

11	홍길동
123	일지매

In [14]:
msg='우리나라 만세'
print(msg[0])
print(msg[-3])
print(msg[-2])

우

만

In [18]:
msg='동해물과 백두산이'

print(msg[0:2])
print(msg[:2])

print(msg[1:3])

print(msg[2:])

동해
동해
해물
물과 백두산이

In [21]:
print('안녕' '하세요')
print('안녕'+'하세요')

msg1, msg2 = '안녕', '하세요'
print(msg1+msg2)
print('안녕'+msg2)
print(msg1, '+', msg2)

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕 + 하세요

In [23]:
res=2*2
print('2 x 2 = '+str(res))

2 x 2 = 4

In [26]:
print('*'*5)
print(10*'@')

*****
@@@@@@@@@@

In [32]:
def divide_name(name):
    lastname=name[0]
    firstname=name[1:]
    print("-" *12)
    print("성:\t" + lastname + '\n이름:\t' + firstname) # + 대신 ,를 쓰면 한 칸 더 띄워지기 때문에 +로 사용
    print("-" *12)

#주프로그램부
name=input('당신의 이름은?')

divide_name(name)

당신의 이름은? 이찬수

------------
성:	이
이름:	찬수
------------

In [33]:
n1=int(input('첫 번째 정수는? '))
n2=int(input('두 번째 정수는? '))

print(f'{n1}와 {n2}의 평균은 {(n1+n2)/2}')

첫 번째 정수는?  2
두 번째 정수는?  3

2와 3의 평균은 2.5

In [35]:
num=int(input('정수는? '))

print(f'2진 표현으로는 {num:b}입니다.')
print(f'10진 표현으로는 {num:d}입니다.')
print(f'16진 표현으로는 {num:x}입니다.')

정수는?  15

2진 표현으로는 1111입니다.
10진 표현으로는 15입니다.
16진 표현으로는 f입니다.

In [38]:
n1=int(input('첫 번째 정수는? '))
n2=int(input('두 번째 정수는? '))

avg=n1/n2

print(f'{n1} / {n2} = {avg}')
print(f'{n1} / {n2} = {avg:f}')
print(f'{n1} / {n2} = {avg:e}')
print(f'{n1} / {n2} = {avg:g}')

첫 번째 정수는?  10000000000
두 번째 정수는?  3

10000000000 / 3 = 3333333333.3333335
10000000000 / 3 = 3333333333.333333
10000000000 / 3 = 3.333333e+09
10000000000 / 3 = 3.33333e+09

In [39]:
num=15

print(f'[{num:d}]')
print(f'[{num:5d}]')
print(f'[{num:<5d}]')
print(f'[{num:^5d}]')
print(f'[{12345678:5d}]')
print(f'[{num:05d}]')

[15]
[   15]
[15   ]
[ 15  ]
[12345678]
[00015]

In [41]:
PI=3.14159265

print(f'[{PI:F}]')
print(f'[{PI:.2f}]')
print(f'[{PI:5.2f}]')
print(f'[{PI:.2g}]')

[3.141593]
[3.14]
[ 3.14]
[3.1]

In [45]:
'Today is %d %s.' %(4, 'April')

'Today is 4 April.'

In [48]:
'Hello, {0}'.format('world!')

'Hello, world!'

In [50]:
'Hello, {0}'.format(100)

'Hello, 100'

In [52]:
'Hello, {0} {2} {1}'.format('Python', 'Script', 3.6)

'Hello, Python 3.6 Script'

In [53]:
text='python'
print('t'in text)

True

In [54]:
print('th'in text)

True

In [55]:
print('T'in text)

False

In [56]:
print('티'not in text)

True

In [60]:
num=input('정수를 입력하세요: ')
length=len(num)
print(f'입력하신 {num}은(는) {length}자리 정수입니다')

정수를 입력하세요:  11565612351651321

입력하신 11565612351651321은(는) 17자리 정수입니다

In [65]:
week='월화수목금금금'
n=week.count('수목')
print(n)

1

In [70]:
week='월화수목금금금요일'

pos=week.find('금')
print(pos)

pos=week.find('금',5)
print(pos)

pos=week.rfind('금')
print(pos)

pos=week.find('토')
print(pos)

pos=week.find('목금')
print(pos)

4
5
6
-1
3

In [73]:
msg='Python은 배우기 쉽다. Python은 강력하다'
res=msg.replace('Python', '파이썬')
res2=msg.replace('쉽다', '어렵다')
print(res)
print(res2)
print(msg)

파이썬은 배우기 쉽다. 파이썬은 강력하다
Python은 배우기 어렵다. Python은 강력하다
Python은 배우기 쉽다. Python은 강력하다

In [86]:
def introduce(name,grade):
    n=name[1:]
    next_grade=grade+1
    return (n+'은 내년에 '+str(next_grade)+'학년입니다.')
    #return f'{n}은 내년에 {grade+1}학년입니다.'    이것은 f-string사용해서 동일하게 작동하는 문장

#주 프로그램부
name=input('이름?')
grade=int(input('학년?'))
rmsg=introduce(name, grade)
print(rmsg)

이름? 박보검
학년? 2

보검은 내년에 3학년입니다.

In [94]:
def rep_char(c, n):
    print(c*n)

rep_char('-', 10)
rep_char('#', 5)

----------
#####

In [105]:
def rep_char(c, n):
    print(c*n)

def draw_line_string(msg):
    nstr=len(msg)
    # *2를 해주는 이유: 한글 한 글자는 기호 두 문자와 같은 너비를 차지. 라는 조건 때문
    # +4를 해주는 이유: 앞 뒤 각각 공백 2칸
    rep_char('-',nstr*2+4)  
    print(f'  {msg}  ')
    rep_char('-',nstr*2+4)

#주 프로그램부
draw_line_string('안녕하세요')
draw_line_string('안녕')

--------------
  안녕하세요
--------------
--------
  안녕
--------

In [110]:
def rep_char(c, n):
    print(c*n)

def draw_line_string(msg):
    msg1='Hello '+msg+','
    msg2='Welcome to Seoul.'
    nstr=len(msg1) if(len(msg1) > len(msg2)) else len(msg2)
    
    rep_char('-',nstr+2)  
    print(f' {msg1} \n {msg2} ')
    rep_char('-',nstr+2)

#주 프로그램부
msg=input("Input his/her name:")
draw_line_string(msg)

Input his/her name: Steve Seung Jun Yoo

----------------------------
 Hello Steve Seung Jun Yoo,
 Welcome to Seoul.
----------------------------